<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forgot password</title>
</head>
<body>
    <div class="login-form">
        <h1>Forgot Form</h1>
        <form action="/password/email" method="POST">
            <input type="email" name="email" placeholder="Email"
       ````     <% if (typeof email != "undefined" && email) { %> value="<%= email %>"<% } %> required>
            <input type="submit">
        </form>
        <div><%=message%></div>
        <a href="/login">Login</a>
    </div>
</body>
</html>