<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="imgs/favicon.ico" type="image/x-icon" rel="icon">
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f4f4f4;
        }
        
        .container {
            max-width: 400px;
            margin: 50px auto;
            background-color: #fff;
            padding: 30px;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }
        
        h1 {
            text-align: center;
            margin-bottom: 20px;
        }
        
        p {
            text-align: center;
            margin-bottom: 30px;
        }
        
        .form-label {
            font-weight: bold;
        }
        
        .btn-primary {
            width: 100%;
        }
        
        .btn-link {
            text-decoration: none;
        }
    </style>
</head>
<body>
    <form action="/register" method="post" class="container mt-5">
        <h1>Register</h1>
        <p>Please fill in this form to create an account.</p>
        <hr />

        <div class="mb-3">
            <label for="email" class="form-label">Email</label>
            <input type="email" class="form-control" id="email" placeholder="Enter Email" name="email" required>
        </div>

        <div class="mb-3">
            <label for="password" class="form-label">Password</label>
            <input type="password" class="form-control" id="password" placeholder="Enter Password" name="password" required>
        </div>

        <div class="mb-3">
            <label for="username" class="form-label">Username</label>
            <input type="text" class="form-control" id="username" placeholder="Enter Username" name="username" required>
        </div>

        <div class="mb-3">
            <label for="date_of_birth" class="form-label">Date of Birth</label>
            <input type="date" class="form-control" id="date_of_birth" name="date_of_birth" required>
        </div>

        <div class="mb-3">
            <label for="phone" class="form-label">Phone</label>
            <input type="phone" class="form-control" id="phone" placeholder="Enter Phone" name="phone" required>
        </div>

        <div class="mb-3">
            <label for="fullname" class="form-label">Fullname</label>
            <input type="text" class="form-control" id="fullname" placeholder="Enter Fullname" name="fullname" required>
        </div>

        <div class="mb-3">
            <label for="gender" class="form-label">Gender</label>
            <select class="form-control" id="gender" name="gender" required>
                <option value="">Select Gender</option>
                <option value="1">Male</option>
                <option value="0">Female</option>
            </select>
        </div>

        <div class="mb-3">
            <label for="address" class="form-label">Address</label>
            <input type="text" class="form-control" id="address" placeholder="Enter Address" name="address" required>
        </div>

        <hr />


        <button type="submit" class="btn btn-primary">Register</button>

        <%=JSON.stringify(message.errMessage).replace(/"/g, "")%>
    </form>

    <div class="container mt-3 text-center">
        <p>Already have an account? <a href="/login" class="btn btn-link">Sign in</a>.</p>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-3LQni6JzC/C5tF2E/5SfMhDvBpMzlskVdmYuvPUmJZtUJHZUyWMM9lH8I7AGtCkH" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js" integrity="sha384-k1D6nHY1s1QrBwrTc6v/JBWKyEW9YfLkxCSLXZ1ceGAb8V8P1Pk9zln8klK6b7qj" crossorigin="anonymous"></script>
</body>
</html>
