<!DOCTYPE html>
<html>
<head>
    <title>YouTube Video</title>
</head>
<body>
    <iframe width="560" height="315" src="<%= videoUrl.replace('watch?v=', 'embed/') %>" frameborder="0" allowfullscreen></iframe>
</body>
</html>
