@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Spartan', sans-serif;
}

h1 {
    font-size: 50px;
    line-height: 64px;
    color: #222;
}

h2 {
    font-size: 46px;
    line-height: 54px;
    color: #222;
}

h4 {
    font-size: 20px;
    color: #222;
}

h6 {
    font-weight: 700;
    font-size: 12px;
}

p {
    font-size: 16px;
    color: #222;
    margin: 15px 0 20px 0;
}

.section-p1 {
    margin: 40px 0;
}

body {
    width: 100%;
}

/* header start */
#header {
    display: flex; /* căn các phần tử theo chiều ngang góc trên bên phải*/
    align-content: space-between; /* căn chỉnh dòng của phần tử trong flex*/
    padding: 20px; /* thiet lap le cho header*/
    background-color: rgb(161, 183, 181);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06); /*thêm bóng cho một phần tử*/
}

#navbar {
    display: flex; /* căn các phần tử theo chiều ngang góc trên bên phải*/
    align-items: center; /* căn giữa theo chiều dọc. căn giữa các phần tử bên trong một flex container*/
    justify-content: center; /* căn giữa theo chiều ngang */
}

#navbar li{
    list-style: none;
    padding: 0 20px;/* thiet lap le cho li item*/
}

#navbar li a{
     /* Loại bỏ gạch chân dưới cho liên kết */
    text-decoration: none;
    /* Kích thước font và độ dày của văn bản */
    font-size: 16px;
    font-weight: 600;
    color: black;
    /* Tạo hiệu ứng transition cho các thuộc tính CSS*/
    transition: 0.3s ease;
}

/* CSS cho liên kết trong menu navbar khi rê chuột qua (hover) */
#navbar li a:hover,
#navbar li a.active {
    color: rgb(80, 21, 218);
}

/* Tạo một đối tượng tròn phía dưới liên kết đang được chọn trong menu navbar 
   sử dụng pseudo-element ::after*/
#navbar li a.active::after,
#navbar li a:hover::after {
    /* Tạo một đối tượng tròn phía dưới liên kết đang được chọn */
    content: "";
    /* Kích thước của đối tượng */
    width: 30%;
    /* Màu nền của đối tượng */
    background-color: rgb(80, 21, 218);
    /* Định vị đối tượng */
    position: absolute;
    bottom: -4px;
    left: 20px;
}

.logo {
    width: 40px;
    height: 40px;
}

/* home page */
#hero {
    background-image: url("../img/hero4.jpg");
    height: 140vh;
    width: 100%;
    background-size: cover;
    background-position: top 25% right 0;
    padding: 0 80px;
    display: flex;
    flex-direction: column;
}

/* #hero h1{

}

#hero h4{
    
}

#hero h2{
    
} */

#feature {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#feature .fe-box {

    width: 180px;
    text-align: center;
    padding: 25px 15px;
    box-shadow: 20px 20px 34px rgba(0, 0, 0, 0.03); 
    border: 1px solid #acc5b1;
}

#product1 {
    text-align: center;
}

#product1 .pro-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#product1 .pro{
    width: 23%;
    min-width: 250px;
    border: 1px solid #465b52;
}

#product1 .pro img{
    width: 100%;
    border-radius: 20px;
}


#banner {
    background-image: url(../img/banner/b2.jpg);
}

#banner h2{
    color: rgb(36, 17, 159);
}

#banner h4{
    color: rgb(18, 23, 160);
}

