<div class="row mt-5 m-auto p-2 body bgw">
    <div class="col-md-12">
        <h1 style="color: white;"="movie-list-title">NEW RELEASES</h1>
        <div class="movie-list-wrapper">
            <div class="row">
                <!-- Sample Movie List Items -->
                <!-- You can dynamically generate these items in your backend -->
                    <!-- new -->
<div id="moviesContainer" class="movies-container"></div>
<nav aria-label="Page navigation example">
    <ul class="pagination">
      <li class="page-item" id="previousPage">
        <a class="page-link" href="#" onclick="changePage(1)">Previous</a>
      </li>
      <li class="page-item">
        <a class="page-link" href="#" onclick="changePage(1)">1</a>
      </li>
      <li class="page-item">
        <a class="page-link" href="#" onclick="changePage(2)">2</a>
      </li>
      <li class="page-item">
        <a class="page-link" href="#" onclick="changePage(3)">3</a>
      </li>
      <li class="page-item" id="nextPage">
        <a class="page-link" href="#" onclick="changePage(2)">Next</a>
      </li>
    </ul>
</nav>


                <!-- <div class="movie-list-item col-md-4 mb-4">
                    <div class="card">
                        <img class="card-img-top movie-list-item-img" src="../public/imgs/1.jpeg"
                            alt="Movie Poster">
                        <div class="card-body">
                            <h5 class="card-title movie-list-item-title">Her</h5>
                            <p class="card-text movie-list-item-desc">Lorem ipsum dolor sit amet consectetur
                                adipisicing elit. At hic fugit similique accusantium.</p>
                            <a href="utils/movie_details.html" class="btn btn-primary">Watch</a>
                        </div>
                    </div>
                </div>

                <div class="movie-list-item col-md-4 mb-4">
                    <div class="card">
                        <img class="card-img-top movie-list-item-img" src="../public/imgs/1.jpeg"
                            alt="Movie Poster">
                        <div class="card-body">
                            <h5 class="card-title movie-list-item-title">Her</h5>
                            <p class="card-text movie-list-item-desc">Lorem ipsum dolor sit amet consectetur
                                adipisicing elit. At hic fugit similique accusantium.</p>
                            <a href="utils/movie_details.html" class="btn btn-primary">Watch</a>
                        </div>
                    </div>
                </div>

                <div class="movie-list-item col-md-4 mb-4">
                    <div class="card">
                        <img class="card-img-top movie-list-item-img" src="../public/imgs/1.jpeg"
                            alt="Movie Poster">
                        <div class="card-body">
                            <h5 class="card-title movie-list-item-title">Her</h5>
                            <p class="card-text movie-list-item-desc">Lorem ipsum dolor sit amet consectetur
                                adipisicing elit. At hic fugit similique accusantium.</p>
                            <a href="utils/movie_details.html" class="btn btn-primary">Watch</a>
                        </div>
                    </div>
                </div>

                <div class="movie-list-item col-md-4 mb-4">
                    <div class="card">
                        <img class="card-img-top movie-list-item-img" src="../public/imgs/1.jpeg"
                            alt="Movie Poster">
                        <div class="card-body">
                            <h5 class="card-title movie-list-item-title">Her</h5>
                            <p class="card-text movie-list-item-desc">Lorem ipsum dolor sit amet consectetur
                                adipisicing elit. At hic fugit similique accusantium.</p>
                            <a href="utils/movie_details.html" class="btn btn-primary">Watch</a>
                        </div>
                    </div>
                </div>

                <div class="movie-list-item col-md-4 mb-4">
                    <div class="card">
                        <img class="card-img-top movie-list-item-img" src="../public/imgs/1.jpeg"
                            alt="Movie Poster">
                        <div class="card-body">
                            <h5 class="card-title movie-list-item-title">Her</h5>
                            <p class="card-text movie-list-item-desc">Lorem ipsum dolor sit amet consectetur
                                adipisicing elit. At hic fugit similique accusantium.</p>
                            <a href="utils/movie_details.html" class="btn btn-primary">Watch</a>
                        </div>
                    </div>
                </div>

                <div class="movie-list-item col-md-4 mb-4">
                    <div class="card">
                        <img class="card-img-top movie-list-item-img" src="../public/imgs/1.jpeg"
                            alt="Movie Poster">
                        <div class="card-body">
                            <h5 class="card-title movie-list-item-title">Her</h5>
                            <p class="card-text movie-list-item-desc">Lorem ipsum dolor sit amet consectetur
                                adipisicing elit. At hic fugit similique accusantium.</p>
                            <a href="utils/movie_details.html" class="btn btn-primary">Watch</a>
                        </div>
                    </div>
                </div>

                <div class="movie-list-item col-md-4 mb-4">
                    <div class="card">
                        <img class="card-img-top movie-list-item-img" src="../public/imgs/1.jpeg"
                            alt="Movie Poster">
                        <div class="card-body">
                            <h5 class="card-title movie-list-item-title">Her</h5>
                            <p class="card-text movie-list-item-desc">Lorem ipsum dolor sit amet consectetur
                                adipisicing elit. At hic fugit similique accusantium.</p>
                            <a href="utils/movie_details.html" class="btn btn-primary">Watch</a>
                        </div>
                    </div>
                </div>

                <div class="movie-list-item col-md-4 mb-4">
                    <div class="card">
                        <img class="card-img-top movie-list-item-img" src="../public/imgs/1.jpeg"
                            alt="Movie Poster">
                        <div class="card-body">
                            <h5 class="card-title movie-list-item-title">Her</h5>
                            <p class="card-text movie-list-item-desc">Lorem ipsum dolor sit amet consectetur
                                adipisicing elit. At hic fugit similique accusantium.</p>
                            <a href="utils/movie_details.html" class="btn btn-primary">Watch</a>
                        </div>
                    </div>
                </div> -->

                <!-- More movie list items can be added similarly -->
            </div>

        </div>
    </div>
</div>