<div class="row mt-5 m-auto p-2 body bgw">
    <div class="col-md-12">
        <h1 style="color: white;" class="movie-list-title"><span class="vertical-line" style="color: rgb(55, 110, 177);">.</span>NEW RELEASES</h1>
        <div class="movie-list-wrapper">
            <div class="row">
                <!-- Sample Movie List Items -->
                <!-- You can dynamically generate these items in your backend -->
                    <!-- new -->
<div id="moviesContainer" class="movies-container"></div>
<nav aria-label="Page navigation example">
    <ul class="pagination">
      <li class="page-item" id="previousPage">
        <a class="page-link" href="#" onclick="changePage(1)">Previous</a>
      </li>
      <li class="page-item">
        <a class="page-link" href="#" onclick="changePage(1)">1</a>
      </li>
      <li class="page-item">
        <a class="page-link" href="#" onclick="changePage(2)">2</a>
      </li>
      <li class="page-item">
        <a class="page-link" href="#" onclick="changePage(3)">3</a>
      </li>
      <li class="page-item" id="nextPage">
        <a class="page-link" href="#" onclick="changePage(2)">Next</a>
      </li>
    </ul>
</nav>

            </div>

        </div>
    </div>
</div>