<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ecommerce webside</title>
    <link rel="stylesheet" href="../statics/css/style.css">
    <!-- link đến  https://cdnjs.com/libraries/font-awesome -->
    <!-- lấy icons ở đây https://fontawesome.com/icons/cart-shopping?f=classic&s=solid -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
</head>
<body>

    <section id="header">
        <a href="#"><img src="../statics/img/logo.png" class="logo" alt=""></a>
        <div>
            <ul id="navbar">
                <li><a class="active" href="index.html">Home</a></li>
                <li><a href="shop.html">Shop</a></li>
                <li><a href="blog.html">Blog</a></li>
                <li><a href="about.html">About</a></li>
                <li><a href="contact.html">Contact</a></li>
                <!-- thêm icon vào trong thẻ a -->
                <li><a href="cart.html"><i class="fa-solid fa-cart-shopping"></i></a></li> 
            </ul>
        </div>
    </section>

    <section id="hero">
        <h1>ở đây sẽ ghi câu gì đó </h1>
        <h1>có thể là câu tuyên truyền</h1>
    </section>

    <section id="feature" class="section-p1">
        <div class="fe-box">
            <img src="../statics/img/features/f1.png" id="freeShipImg" alt="">
            <h4>freeShip</h4>
        </div>
        <div class="fe-box">
            <img src="../statics/img/features/f2.png" id="freeShipImg" alt="">
            <h4>tinh nang 2</h4>
        </div>
        <div class="fe-box">
            <img src="../statics/img/features/f3.png" id="freeShipImg" alt="">
            <h4>tinh nang 3</h4>
        </div>
        <div class="fe-box">
            <img src="../statics/img/features/f4.png" id="freeShipImg" alt="">
            <h4>tinh nang v...</h4>
        </div>
    </section>

    <section id="product1" class="section-p1">
        <h2>Tính năng sản phẩm</h2>
        <p>thiết kế mới</p>
        <!-- hien thi san pham -->
        <div class="pro-container">
            <div class="pro">
                <img src="../statics/img/products/f1.jpg" alt="">
                <div class="des">
                    <span>adidas</span>
                    <h5>áo T-shirt </h5>
                    <div class="star">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                </div>
                <h4>$1000</h4>
            </div>

            <div class="pro-container">
                <div class="pro">
                    <img src="../statics/img/products/f2.jpg" alt="">
                    <div class="des">
                        <span>adidas</span>
                        <h5>áo T-shirt </h5>
                        <div class="star">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                        </div>
                    </div>
                    <h4>$1000</h4>
                </div>

                <div class="pro-container">
                    <div class="pro">
                        <img src="../statics/img/products/f3.jpg" alt="">
                        <div class="des">
                            <span>adidas</span>
                            <h5>áo T-shirt </h5>
                            <div class="star">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                            </div>
                        </div>
                        <h4>$1000</h4>
                    </div>

                    <div class="pro-container">
                        <div class="pro">
                            <img src="../statics/img/products/f4.jpg" alt="">
                            <div class="des">
                                <span>adidas</span>
                                <h5>áo T-shirt </h5>
                                <div class="star">
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                </div>
                            </div>
                            <h4>$1000</h4>
                        </div>

                        <div class="pro-container">
                            <div class="pro">
                                <img src="../statics/img/products/f5.jpg" alt="">
                                <div class="des">
                                    <span>adidas</span>
                                    <h5>áo T-shirt </h5>
                                    <div class="star">
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                    </div>
                                </div>
                                <h4>$1000</h4>
                            </div>

                            <div class="pro-container">
                                <div class="pro">
                                    <img src="../statics/img/products/f6.jpg" alt="">
                                    <div class="des">
                                        <span>adidas</span>
                                        <h5>áo T-shirt </h5>
                                        <div class="star">
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                        </div>
                                    </div>
                                    <h4>$1000</h4>
                                </div>

                                <div class="pro-container">
                                    <div class="pro">
                                        <img src="../statics/img/products/f7.jpg" alt="">
                                        <div class="des">
                                            <span>adidas</span>
                                            <h5>áo T-shirt </h5>
                                            <div class="star">
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                            </div>
                                        </div>
                                        <h4>$1000</h4>
                                    </div>

                                    <div class="pro-container">
                                        <div class="pro">
                                            <img src="../statics/img/products/f8.jpg" alt="">
                                            <div class="des">
                                                <span>adidas</span>
                                                <h5>áo T-shirt </h5>
                                                <div class="star">
                                                    <i class="fas fa-star"></i>
                                                    <i class="fas fa-star"></i>
                                                    <i class="fas fa-star"></i>
                                                    <i class="fas fa-star"></i>
                                                    <i class="fas fa-star"></i>
                                                </div>
                                            </div>
                                            <h4>$1000</h4>
                                        </div>
            <a href="#"><i class="fal fa-shopping-cart"></i></a>
        </div>
    </section>

    <section id="banner">
        <h4>tieu de banner</h4>
        <h2>khau lenh banner</h2>
        <button>explore more</button>
    </section>

    <script src="script.js"></script>
</body>
</html>
