<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="../public/css/navbar.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&family=Sen:wght@400;700;800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css">
    <title>Movie Film</title>
</head>

<body>
    <!-- navbar -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <!-- logo-navbar -->
    <a class="navbar-brand text-success" href="#">F-MOVIE</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <!-- navbar items -->
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/client/views/index.html">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/client/views/utils/movie.html">Movies</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Series</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Popular</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Trends</a>
            </li>
        </ul>
        <form class="d-flex">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
        <!-- profile on navbar -->
        <div class="profile-container ms-3">
            <img src="../public/imgs/love.jpg" class="rounded-circle profile-picture" alt="img empty">
            <div class="profile-text-container">
                <span class="profile-text">Profile</span>
                <i class="fas fa-caret-down ms-2"></i>
            </div>
        </div>
    </div>
</nav>

    <!-- container  -->

    <div id="carouselExample" class="carousel slide">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="..." class="d-block w-100" alt="...">
            <div class="featured-content"
                    style="background: linear-gradient(to bottom, rgba(0,0,0,0), #151515), url('../public/imgs/f-1.jpg');">
                    <img class="featured-title" src="" alt="">
                    <p class="featured-desc">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Iusto illo dolor
                        deserunt nam assumenda ipsa eligendi dolore, ipsum id fugiat quo enim impedit, laboriosam omnis
                        minima vs oluptatibuincidunt. Accusamus, provident.</p>
                    <button class="btn btn-success featured-button">WATCH</button>
                </div>
          </div>
          <div class="carousel-item">
            <img src="..." class="d-block w-100" alt="...">
            <div class="featured-content"
                    style="background: linear-gradient(to bottom, rgba(0,0,0,0), #151515), url('../public/imgs/f-1.jpg');">
                    <img class="featured-title" src="" alt="">
                    <p class="featured-desc">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Iusto illo dolor
                        deserunt nam assumenda ipsa eligendi dolore, ipsum id fugiat quo enim impedit, laboriosam omnis
                        minima vs oluptatibuincidunt. Accusamus, provident.</p>
                    <button class="btn btn-success featured-button">WATCH</button>
                </div>
          </div>
          <div class="carousel-item">
            <img src="..." class="d-block w-100" alt="...">
            <div class="featured-content"
                    style="background: linear-gradient(to bottom, rgba(0,0,0,0), #151515), url('../public/imgs/f-1.jpg');">
                    <img class="featured-title" src="" alt="">
                    <p class="featured-desc">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Iusto illo dolor
                        deserunt nam assumenda ipsa eligendi dolore, ipsum id fugiat quo enim impedit, laboriosam omnis
                        minima vs oluptatibuincidunt. Accusamus, provident.</p>
                    <button class="btn btn-success featured-button">WATCH</button>
                </div>
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>

<!-- new releases -->
        <div class="row mt-5">
            <div class="col-md-12">
                <h1 class="movie-list-title">NEW RELEASES</h1>
                <div class="movie-list-wrapper">
                    <div class="row">
                        <!-- Sample Movie List Items -->
                        <!-- You can dynamically generate these items in your backend -->
                        <div class="movie-list-item col-md-4 mb-4">
                            <div class="card">
                                <img class="card-img-top movie-list-item-img" src="../public/imgs/1.jpeg" alt="Movie Poster">
                                <div class="card-body">
                                    <h5 class="card-title movie-list-item-title">Her</h5>
                                    <p class="card-text movie-list-item-desc">Lorem ipsum dolor sit amet consectetur adipisicing elit. At hic fugit similique accusantium.</p>
                                    <a href="utils/movie_details.html" class="btn btn-primary">Watch</a>
                                </div>
                            </div>
                        </div>
                        
                        <div class="movie-list-item col-md-4 mb-4">
                            <div class="card">
                                <img class="card-img-top movie-list-item-img" src="../public/imgs/1.jpeg" alt="Movie Poster">
                                <div class="card-body">
                                    <h5 class="card-title movie-list-item-title">Her</h5>
                                    <p class="card-text movie-list-item-desc">Lorem ipsum dolor sit amet consectetur adipisicing elit. At hic fugit similique accusantium.</p>
                                    <a href="utils/movie_details.html" class="btn btn-primary">Watch</a>
                                </div>
                            </div>
                        </div>
                        
                        <div class="movie-list-item col-md-4 mb-4">
                            <div class="card">
                                <img class="card-img-top movie-list-item-img" src="../public/imgs/1.jpeg" alt="Movie Poster">
                                <div class="card-body">
                                    <h5 class="card-title movie-list-item-title">Her</h5>
                                    <p class="card-text movie-list-item-desc">Lorem ipsum dolor sit amet consectetur adipisicing elit. At hic fugit similique accusantium.</p>
                                    <a href="utils/movie_details.html" class="btn btn-primary">Watch</a>
                                </div>
                            </div>
                        </div>
                        
                        <div class="movie-list-item col-md-4 mb-4">
                            <div class="card">
                                <img class="card-img-top movie-list-item-img" src="../public/imgs/1.jpeg" alt="Movie Poster">
                                <div class="card-body">
                                    <h5 class="card-title movie-list-item-title">Her</h5>
                                    <p class="card-text movie-list-item-desc">Lorem ipsum dolor sit amet consectetur adipisicing elit. At hic fugit similique accusantium.</p>
                                    <a href="utils/movie_details.html" class="btn btn-primary">Watch</a>
                                </div>
                            </div>
                        </div>
                        
                        <div class="movie-list-item col-md-4 mb-4">
                            <div class="card">
                                <img class="card-img-top movie-list-item-img" src="../public/imgs/1.jpeg" alt="Movie Poster">
                                <div class="card-body">
                                    <h5 class="card-title movie-list-item-title">Her</h5>
                                    <p class="card-text movie-list-item-desc">Lorem ipsum dolor sit amet consectetur adipisicing elit. At hic fugit similique accusantium.</p>
                                    <a href="utils/movie_details.html" class="btn btn-primary">Watch</a>
                                </div>
                            </div>
                        </div>

                        <div class="movie-list-item col-md-4 mb-4">
                            <div class="card">
                                <img class="card-img-top movie-list-item-img" src="../public/imgs/1.jpeg" alt="Movie Poster">
                                <div class="card-body">
                                    <h5 class="card-title movie-list-item-title">Her</h5>
                                    <p class="card-text movie-list-item-desc">Lorem ipsum dolor sit amet consectetur adipisicing elit. At hic fugit similique accusantium.</p>
                                    <a href="utils/movie_details.html" class="btn btn-primary">Watch</a>
                                </div>
                            </div>
                        </div>

                        <div class="movie-list-item col-md-4 mb-4">
                            <div class="card">
                                <img class="card-img-top movie-list-item-img" src="../public/imgs/1.jpeg" alt="Movie Poster">
                                <div class="card-body">
                                    <h5 class="card-title movie-list-item-title">Her</h5>
                                    <p class="card-text movie-list-item-desc">Lorem ipsum dolor sit amet consectetur adipisicing elit. At hic fugit similique accusantium.</p>
                                    <a href="utils/movie_details.html" class="btn btn-primary">Watch</a>
                                </div>
                            </div>
                        </div>

                        <div class="movie-list-item col-md-4 mb-4">
                            <div class="card">
                                <img class="card-img-top movie-list-item-img" src="../public/imgs/1.jpeg" alt="Movie Poster">
                                <div class="card-body">
                                    <h5 class="card-title movie-list-item-title">Her</h5>
                                    <p class="card-text movie-list-item-desc">Lorem ipsum dolor sit amet consectetur adipisicing elit. At hic fugit similique accusantium.</p>
                                    <a href="utils/movie_details.html" class="btn btn-primary">Watch</a>
                                </div>
                            </div>
                        </div>

                        <div class="movie-list-item col-md-4 mb-4">
                            <div class="card">
                                <img class="card-img-top movie-list-item-img" src="../public/imgs/1.jpeg" alt="Movie Poster">
                                <div class="card-body">
                                    <h5 class="card-title movie-list-item-title">Her</h5>
                                    <p class="card-text movie-list-item-desc">Lorem ipsum dolor sit amet consectetur adipisicing elit. At hic fugit similique accusantium.</p>
                                    <a href="utils/movie_details.html" class="btn btn-primary">Watch</a>
                                </div>
                            </div>
                        </div>
                        
                        <!-- More movie list items can be added similarly -->
                    </div>
                    
                </div>
            </div>
        </div>
    </div>

    <!-- feature -->
<div class="row mt-5">
    <div class="col-md-12">
        <h1 class="movie-list-title">FEATURE LIST</h1>
        <div class="movie-list-wrapper">
            <div class="row"> 
                <div class="col-md-4 mb-3">
                    <div class="card">
                        <img src="..." class="card-img-top" alt="...">
                        <div class="card-body">
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        </div>
                    </div>
                </div>

                <div class="col-md-4 mb-3">
                    <div class="card">
                        <img src="..." class="card-img-top" alt="...">
                        <div class="card-body">
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        </div>
                    </div>
                </div>

                <div class="col-md-4 mb-3">
                    <div class="card">
                        <img src="..." class="card-img-top" alt="...">
                        <div class="card-body">
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


    <!-- Footer Section -->
    <footer class="footer mt-5 bg-dark text-white pt-4 pb-4">
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <h3>Company</h3>
                    <ul class="list-unstyled">
                        <li>About Us</li>
                        <li>Jobs</li>
                        <li>Contact</li>
                    </ul>
                </div>
                <div class="col-md-3">
                    <h3>Contribute</h3>
                    <ul class="list-unstyled">
                        <li>Write for us</li>
                        <li>Submit your movie</li>
                        <li>Partnership</li>
                    </ul>
                </div>
                <div class="col-md-3">
                    <h3>About</h3>
                    <ul class="list-unstyled">
                        <li>Privacy Policy</li>
                        <li>Terms of Service</li>
                        <li>FAQ</li>
                    </ul>
                </div>
                <div class="col-md-3">
                    <h3>Contact</h3>
                    <ul class="list-unstyled">
                        <li>Email: contact@flakes.com</li>
                        <li>Phone: +1 (123) 456-7890</li>
                        <li>Address: 123 Flakes St, Movie City, USA</li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <script src="../public/js/script.js"></script>
</body>

</html>
