<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="../public/css/navbar.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&family=Sen:wght@400;700;800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css">
    <title>Movie Film</title>
</head>

<body>
   <!-- navbar -->
   <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <!-- logo-navbar -->
    <a class="navbar-brand text-success" href="#">F-MOVIE</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <!-- navbar items -->
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/client/views/index.html">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/client/views/utils/movie.html">Movies</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/client/views/utils/series.html">Series</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/client/views/utils/popular.html">Popular</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/client/views/utils/trends.html">Trends</a>
            </li>
        </ul>
        <form class="d-flex">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
        <!-- profile on navbar -->
        <div class="profile-container ms-3">
            <img src="../public/imgs/love.jpg" class="rounded-circle profile-picture" alt="img empty">
            <div class="profile-text-container">
                <span class="profile-text">Profile</span>
                <i class="fas fa-caret-down ms-2"></i>
            </div>
        </div>
    </div>
</nav>

<div class="row">
    <div class="col-4">
      <nav id="navbar-example3" class="h-100 flex-column align-items-stretch pe-4 border-end">
        <nav class="nav nav-pills flex-column">
          <a class="nav-link" href="#item-1">Item 1</a>
          <nav class="nav nav-pills flex-column">
            <a class="nav-link ms-3 my-1" href="#item-1-1">Item 1-1</a>
            <a class="nav-link ms-3 my-1" href="#item-1-2">Item 1-2</a>
          </nav>
          <a class="nav-link" href="#item-2">Item 2</a>
          <a class="nav-link" href="#item-3">Item 3</a>
          <nav class="nav nav-pills flex-column">
            <a class="nav-link ms-3 my-1" href="#item-3-1">Item 3-1</a>
            <a class="nav-link ms-3 my-1" href="#item-3-2">Item 3-2</a>
          </nav>
        </nav>
      </nav>
    </div>
  
    <div class="col-8">
      <div data-bs-spy="scroll" data-bs-target="#navbar-example3" data-bs-smooth-scroll="true" class="scrollspy-example-2" tabindex="0">
        <div id="item-1">
          <h4>Item 1</h4>
          <p>...</p>
        </div>
        <div id="item-1-1">
          <h5>Item 1-1</h5>
          <p>...</p>
        </div>
        <div id="item-1-2">
          <h5>Item 1-2</h5>
          <p>...</p>
        </div>
        <div id="item-2">
          <h4>Item 2</h4>
          <p>...</p>
        </div>
        <div id="item-3">
          <h4>Item 3</h4>
          <p>...</p>
        </div>
        <div id="item-3-1">
          <h5>Item 3-1</h5>
          <p>...</p>
        </div>
        <div id="item-3-2">
          <h5>Item 3-2</h5>
          <p>...</p>
        </div>
      </div>
    </div>
  </div>

</body>
</html>
