<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="../../public/css/navbar.css">
    <link
        href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&family=Sen:wght@400;700;800&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css">
    <title>Movie Film</title>
</head>

<body>
    <!-- navbar -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark m-auto p-3">
      <!-- logo-navbar -->
      <a class="navbar-brand text-success" href="#">F-MOVIE</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <!-- navbar items -->
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="/client/views/index.html">Home</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="/client/views/utils/movie.html">Movies</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="#">Series</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="#">Popular</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="#">Trends</a>
              </li>
              <!-- <li class="nav-item">
                  <a class="nav-link" href="/client/views/auth/login.html">Login</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="/client/views/auth/register.html">Register</a>
              </li> -->
              <li class="nav-item">
                  <a class="nav-link" href="#">Logout</a>
              </li>
          </ul>
          <form class="d-flex">
              <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
              <button class="btn btn-outline-success" type="submit">Search</button>
          </form>
          <div class="profile-container ms-3 dropdown">
              <a href="#" class="d-flex align-items-center text-decoration-none" id="profileDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  <img src="../../public/css/navbar.css" class="rounded-circle profile-picture" alt="img empty">
                  <div class="profile-text-container ms-2">
                      <span class="profile-text">Profile</span>
                  </div>
              </a>
          </div>
      </div>
  </nav>

<!-- Main content -->
<div class="container mt-5">
    <div class="row">
        <!-- Video player -->
        <div class="col-lg-8 col-md-12">
            <div style="position: relative; width: 110%; height: 0; padding-bottom: 67.5%; margin-left: -105px; border-radius: 15px; overflow: hidden;">
                <iframe style="position: absolute; top: 0; left: 0; width: 100%; height: 100%; border: none; object-fit: cover;" src="https://www.youtube.com/embed/4nrG6SHM-rY" allowfullscreen></iframe>
            </div>
        </div>
        <!-- Recommended videos -->
        <div class="col-lg-4 col-md-12">
            <h5>Có thể bạn thích</h5>
            <div class="list-group">
                <a href="#" class="list-group-item list-group-item-action">
                    <img src="path_to_image_of_movie_1" alt="Movie 1" width="100">
                    <p>Movie 1</p>
                </a>
                <a href="#" class="list-group-item list-group-item-action">
                    <img src="path_to_image_of_movie_2" alt="Movie 2" width="100">
                    <p>Movie 2</p>
                </a>
                <a href="#" class="list-group-item list-group-item-action">
                    <img src="path_to_image_of_movie_3" alt="Movie 3" width="100">
                    <p>Movie 3</p>
                </a>
                <a href="#" class="list-group-item list-group-item-action">
                    <img src="path_to_image_of_movie_4" alt="Movie 4" width="100">
                    <p>Movie 4</p>
                </a>
                <a href="#" class="list-group-item list-group-item-action">
                    <img src="path_to_image_of_movie_5" alt="Movie 5" width="100">
                    <p>Movie 5</p>
                </a>
                <a href="#" class="list-group-item list-group-item-action">
                    <img src="path_to_image_of_movie_6" alt="Movie 6" width="100">
                    <p>Movie 6</p>
                </a>
                <a href="#" class="list-group-item list-group-item-action">
                    <img src="path_to_image_of_movie_7" alt="Movie 7" width="100">
                    <p>Movie 7</p>
                </a>
                <a href="#" class="list-group-item list-group-item-action">
                    <img src="path_to_image_of_movie_8" alt="Movie 8" width="100">
                    <p>Movie 8</p>
                </a>
                <a href="#" class="list-group-item list-group-item-action">
                    <img src="path_to_image_of_movie_9" alt="Movie 9" width="100">
                    <p>Movie 9</p>
                </a>
                <a href="#" class="list-group-item list-group-item-action">
                    <img src="path_to_image_of_movie_10" alt="Movie 10" width="100">
                    <p>Movie 10</p>
                </a>

            </div>
        </div>
    </div>
</div>

</html>
