* {
  margin: 0;
}

body {
  font-family: "Roboto", sans-serif;
}

.navbar {
  width: 100%;
  height: 50px;
  background-color: black;
  position: sticky;
  top: 0;
}

.navbar-container {
  display: flex;
  align-items: center;
  padding: 0 50px;
  height: 100%;
  color: white;
  font-family: "Sen", sans-serif;
}

.logo-container {
  flex: 1;
}

.logo {
  font-size: 30px;
  color: #4dbf00;
}

.menu-container {
  flex: 6;
}

.menu-list {
  display: flex;
  list-style: none;
}

.menu-list-item {
  margin-right: 30px;
}

.menu-list-item.active {
  font-weight: bold;
}
.profile-container {
  flex: 2;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.profile-text-container {
  margin: 0 20px;
}

.profile-picture {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  object-fit: cover;
}

.toggle {
  width: 40px;
  height: 20px;
  background-color: white;
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: relative;
}

.toggle-icon {
  color: goldenrod;
}

.toggle-ball {
  width: 18px;
  height: 18px;
  background-color: black;
  position: absolute;
  right: 1px;
  border-radius: 50%;
  cursor: pointer;
  transition: 1s ease all;
}

.sidebar {
  width: 50px;
  height: 100%;
  background-color: black;
  position: fixed;
  top: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 60px;
}

.left-menu-icon {
  color: white;
  font-size: 20px;
  margin-bottom: 40px;
}

.container {
  background-color: #151515;
  min-height: calc(100vh - 50px);
  color: white;
}

.content-container {
  margin-left: 50px;
}

.featured-content {
  height: 50vh;
  padding: 50px;
}

.featured-title {
  width: 200px;
}

.featured-desc {
  width: 500px;
  color: lightgray;
  margin: 30px 0;
}

.featured-button {
  background-color: #4dbf00;
  color: white;
  padding: 10px 20px;
  border-radius: 10px;
  border: none;
  outline: none;
  font-weight: bold;
}

.movie-list-container {
  padding: 0 20px;
}

.movie-list-wrapper {
  position: relative;
  overflow: hidden;
}

.movie-list {
  display: flex;
  align-items: center;
  height: 300px;
  transform: translateX(0);
  transition: all 1s ease-in-out;
}

.movie-list-item {
  margin-right: 30px;
  position: relative;
}

.movie-list-item:hover .movie-list-item-img {
  transform: scale(1.2);
  margin: 0 30px;
  opacity: 0.5;
}

.movie-list-item:hover .movie-list-item-title,
.movie-list-item:hover .movie-list-item-desc,
.movie-list-item:hover .movie-list-item-button {
  opacity: 1;
}

.movie-list-item-img {
  transition: all 1s ease-in-out;
  width: 270px;
  height: 200px;
  object-fit: cover;
  border-radius: 20px;
}

.movie-list-item-title {
  background-color: #333;
  padding: 0 10px;
  font-size: 32px;
  font-weight: bold;
  position: absolute;
  top: 10%;
  left: 50px;
  opacity: 0;
  transition: 1s all ease-in-out;
}

.movie-list-item-desc {
  background-color: #333;
  padding: 10px;
  font-size: 14px;
  position: absolute;
  top: 30%;
  left: 50px;
  width: 230px;
  opacity: 0;
  transition: 1s all ease-in-out;
}

.movie-list-item-button {
  padding: 10px;
  background-color: #4dbf00;
  color: white;
  border-radius: 10px;
  outline: none;
  border: none;
  cursor: pointer;
  position: absolute;
  bottom: 20px;
  left: 50px;
  opacity: 0;
  transition: 1s all ease-in-out;
}

.arrow {
  font-size: 120px;
  position: absolute;
  top: 90px;
  right: 0;
  color: lightgray;
  opacity: 0.5;
  cursor: pointer;
}

.container.active {
  background-color: white;
}

.movie-list-title.active {
  color: black;
}

.navbar-container.active {
  background-color: white;

  color: black;
}

.sidebar.active {
  background-color: white;
}

.left-menu-icon.active {
  color: black;
}

.toggle.active {
  background-color: black;
}

.toggle-ball.active {
  background-color: white;
  transform: translateX(-20px);
}

@media only screen and (max-width: 940px) {
  .menu-container {
    display: none;
  }
}

.movie-detail {
  display: flex;
  padding: 50px;
}

.movie-detail-img {
  flex: 1;
  width: 150px; /* Độ dài của ảnh */
  height: 400px; /* Chiều rộng của ảnh */
  margin-right: 50px; /* Khoảng cách giữa hình ảnh và nội dung */
}

.movie-detail-img img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

.movie-detail-info {
  flex: 2;
}

.movie-title {
  font-size: 32px; /* Kích thước font chữ */
  margin-bottom: 20px;
}

.movie-genre,
.movie-director,
.movie-year,
.movie-actors {
  margin-bottom: 10px;
  font-size: 20px; /* Kích thước font chữ */
}

.movie-description {
  margin-bottom: 20px;
  font-size: 20px; /* Kích thước font chữ */
}

.movie-actions {
  margin-top: 20px;
}

.trailer-button,
.buy-button {
  padding: 15px 30px; /* Kích thước button */
  font-size: 24px; /* Kích thước font chữ button */
  border-radius: 10px;
  border: none;
  cursor: pointer;
}

.trailer-button {
  background-color: #4dbf00;
  color: white;
}

.buy-button {
  background-color: #f39c12;
  color: white;
}

.tv-series {
  background-color: #151515;
  padding: 50px 0;
}

.section-subtitle {
  font-size: 18px;
  color: #777;
}

.section-title {
  font-size: 32px;
  color: #333;
  margin-bottom: 30px;
}

.movies-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 30px;
}

.movie-card {
  background-color: #fff;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.card-banner img {
  width: 100%;
  height: auto;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.title-wrapper {
  padding: 20px;
}

.card-title {
  font-size: 24px;
  color: #333;
  margin-bottom: 10px;
}

.card-meta {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px 20px;
}

.badge {
  background-color: #4dbf00;
  color: #fff;
  padding: 5px 10px;
  border-radius: 5px;
}

.duration,
.rating {
  display: flex;
  align-items: center;
}

.duration ion-icon,
.rating ion-icon {
  margin-right: 5px;
  color: #777;
}

